/* CSS reset */
:root[color-mode="light"] {
    --main-color: rgb(19, 95, 128);
    --main-color-semi: rgba(19, 95, 128, 0.8);
    --main-color-faint: rgba(19, 95, 128, 0.3);
    --sec-color: #2BBEFF;
    --tri-color: #F5F6F3;
    --font-color: #212121;
    --button-color: #F5F6F3;
}

:root[color-mode = "dark"] {
    --main-color: #212121;
    --main-color-semi: rgba(19, 95, 128, 0.8);
    --main-color-faint: rgba(19, 95, 128, 0.3);
    --sec-color: rgb(19, 95, 128);
    --tri-color: #323232;
    --font-color: #797979;
    --button-color: #797979;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

html,body {
    margin:0;
    padding:0;
    background-color: var(--main-color) !important;
    padding-top:40px;
}

.navbar {
    background-color: var(--sec-color); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collapsible {
    background-color:  var(--main-color);
    color: var(--tri-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 10px;
    color: var(--button-color);
}

.collapsible:hover {
    background-color: var(--main-color-semi);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--tri-color);
}

.navbar a, .navbar button{
    color: var(--tri-color);
    text-shadow: 5px;

}

.nav-item a, .navitem button {
    color: var(--tri-color);
    background-color: var(--sec-color);
    font-size: 18px;
    text-shadow: 5px;

}

.navbar a:hover button:hover{
    font-style: italic;
    color: var(--tri-color);

}

#goodDay {
    margin-bottom: 10px;
    margin-left: 50px;
}

#support {
    color: var(--tri-color);
    font-weight: bold;
}

.card {
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    background-color: var(--tri-color) !important;
}

#Activity#Card {
    visibility: visible !important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler {
    background-color: var(--tri-color) !important;
}

i {
    color: var(--sec-color);
}

.modal {
    padding: 100px;
}

#modalText {
    font-size: 12pt;
}

#inputZip {
    margin-left: 5px;
}

#getZip {
    margin-right: 5px;
}

#useMy, #getZip {
    font-size: 20px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: var(--main-color);
    border-color: var(--tri-color);
    color: var(--button-color);
    font-weight: 600;
}

#hidden {
    background-color: transparent !important;
    color: transparent;
    border: none;
}

#useMy:hover, #getZip:hover {
    cursor: pointer;
    color: var(--sec-color);
    border-color: var(--sec-color)
}

#useMy:active, #getZip:active {
    background-color: var(--main-color);
    border-color: var(--sec-color);
    color: var(--sec-color);
    transform: translateY(4px);
}

#modalButton {
    margin-left: 25px;
}

.row {
    background-color: var(--main-color);
    padding-left: 10px;
    padding-right: 10px;
}

h5.card-subtitle {
    margin-bottom: 20px;
    color: var(--font-color);
}

h5.card-title {
    color: var(--font-color);
}

h6#todayFeel, h6#todayCloud, p, li {
    color: var(--font-color);
}

img#weatherIcon {
    background-color:  var(--main-color-faint);
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

#weeklyWeather {
    float: right;
    justify-content: space-around;
}

#icon#list {
    margin-bottom: 20px;
    font-weight: bold;
}

#weather1.row, #weather2.row, #weather3.row, #weather4.row, #weather5.row, #weather6.row, #weather7.row   {
    background-color:  var(--main-color-faint);
    margin-bottom: 10px;
    border-radius: 10px;
}

#day1,#day2,#day3,#day4,#day5,#day6,#day7,#des1,#des2,#des3,#des4,#des5,#des6,#des7 {
    padding-top: 10px;
    color: var(--font-color);
}

#img1,#img2,#img3,#img4,#img5,#img6,#img7 {
    padding-right: 0px;
}

@media(min-width: 1080) {
    #des1,#des2,#des3,#des4,#des5,#des6,#des7 {
        display: none;
    }
}